@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@font-face {
  font-family: "AppleNeoR";
  src: url("/fonts/AppleNeoR.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "AppleNeoB";
  src: url("/fonts/AppleNeoB.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "AppleNeoEB";
  src: url("/fonts/AppleNeoEB.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "depixelbreit";
  src: url("/fonts/depixelbreit.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "depixelbreitfett";
  src: url("/fonts/depixelbreitfett.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "RobotoItalic";
  src: url("/fonts/RobotoItalic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url("/fonts/RobotoLightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("/fonts/RobotoRegular.woff") format("woff");
  font-style: regular;
  font-weight: 100;
}

@font-face {
  font-family: "Box109";
  src: url("/fonts/Box109.woff") format("woff");
}

@font-face {
  font-family: "Serif";
  src: url("/fonts/serif.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "SerifSemibold";
  src: url("/fonts/serifSemibold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Snell";
  src: url("/fonts/Snell.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Bodoni";
  src: url("/fonts/Bodoni.woff") format("woff");
  font-style: normal;
}

body {
  word-break: keep-all;
}

#scroll-box::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 0.1rem;
  border-left: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
}

#scroll-box::-webkit-scrollbar-track {
  background: white;
  border-left: 0.1rem solid black;
  border-top-left-radius: 0.3rem;
}

.bg-dual {
  background-image: url("/background/top.png"), url("/background/bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 100% auto, 100% auto;
}

.bg-dual-school-1 {
  background-image: url("/background/main_bottom.png"),
    url("/background/main_school1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;
}

.bg-dual-school-2 {
  background-image: url("/background/main_bottom.png"),
    url("/background/main_school2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;
}
